<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gravity.innovations.mha"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
 <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.mha.myhealthassistant.permission.C2D_MESSAGE" />
        <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
    <permission
        android:name="com.gravity.innovations.mha.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
           
        </activity>
        <activity
            android:name=".RegisterUserActivity"
            android:label="@string/app_name" >
           
        </activity>
         <activity
            android:name=".ChatActivity"
            android:label="@string/app_name" >
           
        </activity>
        
         <activity
            android:name=".Pedometer"
            android:label="@string/app_name" 
            android:configChanges="orientation">
           
        </activity>
        
         
         <activity
            android:name=".Settings"
            android:label="@string/app_name" >
           
        </activity>
         
         <activity
            android:name=".SignInActivity"
            android:label="@string/app_name" >
           
        </activity>
         
        <activity
            android:name=".ChatInsatanceActivity"
            android:label="@string/app_name" >
           
        </activity>
         <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <receiver
            android:name="ccom.gravity.innovations.mha.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.gravity.innovations.mha" />
            </intent-filter>
        </receiver>
        
         <service android:name="com.gravity.innovations.mha.GcmIntentService" />
         <service android:name=".StepService"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
